<h2> Become a Mentor! </h2>

<%= form_for @user_tags do |f| %>
<div class="field">
  <%= f.label :topic %>
  <%= f.collection_select :topic_id, Topic.all, :id, :topic, :include_blank => true %>
</div>

<div class="field">
  <%= f.submit 'Sign Up' %>
</div>
<% end %>
