<h1>Mentor Pairings </h1>
<h2> Mentors </h2>
    <% @mentors.each do |mentor| %>
        
        <p> <%= mentor.first_name %> </p>


    <% end %>


<h2> Mentees </h2>
    <% @mentees.each do |mentee| %>
        
        <p> <%= mentee.first_name %> </p>


    <% end %>


 








