<div class = "center jumbotron">
<h1 style>Welcome to Mentifyy</h1>


<div>
    <p>
        Welcome to Mentifyy, where you can find a hand or lend a hand in software engineering <br>
        Need support in a coding language? <br>
        Get matched up with mentors at Instacart for multiple different coding languages.<br>
        Want to share your knowledge?<br>
        Become a mentor!<br>
        <button type="button" class="btn btn-light btn-outline-secondary ">
        <%= link_to "Sign up", new_user_path %>
        </button> 
        to explore more!
    </p>
</div>



