/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "chosen";


.navbar-custom {
    background-color: #248f24;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navbarSupportedContent {
    flex-grow: 0;
}

.navbtn {
    color: #ff8c1a;
}

 #logo {
     float: left;
     font-size: 2.0em;
     color: #fff;
    //  text-transform: uppercase;
     letter-spacing: -1px;
     font-weight: bold;
 }

 #logo:hover {
     color: #ff8c1a;
     text-decoration: none;
 }

 .center {
     text-align: center;
 }

 .btn-group {
     text-align: right;
 }

.second-nav {
    width: 100%;
    background: #ff8c1a;
    min-height: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  .second-nav .nav {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    flex-grow: 1;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }

//   .second-nav-li {
//       text-align: center;
//       color: #fff;
//   }
  .nav .name {
    text-align: left;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
  }
  .spot {
    text-shadow: 2px 2px #ff8c1a;
    font-weight: normal;

  }
  .nav li {
    padding: 20px 60px 20px 60px;
    text-align: center;
  }
  .nav a {
    transition: all 0.3s;
    color: #fff;

  }
  .nav a:hover {
    color: black;
    font-weight: bold;
  }

 .title {
  color: orange;
  font-weight: bold;
 }

 #post_card {
   border-style: solid;
   border-color: lightgray;
   border-width: 2px;
   border-radius: 15px;
   margin: 8px;
   padding: 5px 20px;
   background-color: #FAFAFA;
 }

 #post_subject {
  margin-bottom: 0px;
  padding-bottom: 10px;
 }

 #post_author {
   font-size: 13px;
   margin-top: 0px;
   padding-top: 0px;
 }

 #post_parent {
   margin-left: 0px;
   padding-left: 0px;
 }

 #message_parent {
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 60px;
  padding-left: 0px;
}

#conversation_parent {
  border-left: solid 1px lightgray;
}

#message_header {
  padding-left: 7.5px;
  margin-bottom: 10px;
}

#comment_header {
  margin-bottom: 15px;
}

#comment_author {
  font-size: 13px;
}

#post_body {
  margin-top: 15px;
}

#conversation_header {
  margin-bottom: 10px;
}

#conversation_mentors_header {
  margin: 10px 0;
}

#conversation_mentees_header {
  margin: 10px 0;
}

#conversation_mentors {
  margin-bottom: 35px;
}