
<h1 class="text-center">Mentor Pairings</h1>

<h2 class="title"> Mentors </h2>

<div class="row">
  <% @list_of_mentor_pairings.each do |pairing| %>
    <% user_mentor = User.find(pairing.mentor_id) %>
      <div class="col-sm-3">
        <div class="card bg-success">
          <div class="card-body">
            <h5 class="card-title text-warning"><%= user_mentor.first_name %></h5>
             <%= link_to "Post a question", new_post_path(:pairing_id => pairing.id), :class => "btn font-weight-bold border-warning btn-primary bg-light text-dark" %>

          </div>
        </div>
      </div>
  <% end %>
</div>
<br>
<br>

<h2 class="title"> Mentees </h2>

<div class="row">
  <% @list_of_mentee_pairings.each do |pairing| %>
    <% user_mentee = User.find(pairing.mentee_id) %>
      <div class="col-sm-3">
        <div class="card bg-success">
          <div class="card-body">
            <h5 class="card-title text-warning"><%= user_mentee.first_name %></h5>
             <%= link_to "Post a question", new_post_path(:pairing_id => pairing.id), :class => "btn font-weight-bold border-warning btn-primary bg-light text-dark" %>
          </div>
        </div>
      </div>
  <% end %>
</div>