

<button type="button" class="btn btn-light navbar-default">
    <%= link_to "Sign up", new_user_path %>
</button>
<button type="button" class="btn btn-light navbar-default">
    <%= link_to "Login", login_path %>
</button>


<h1>Welcome to Menteam App</h1>


