<h3 class="title text-center"> Become a Mentor </h3>

<%= simple_form_for @user_tags do |f| %>
<div class="field">
  <%= f.input :topic_id, as: :select, collection: Topic.all, label_method: :topic, input_html: {multiple: true} %>
</div>

<div class="field">
  <%= f.submit 'Sign Up', :class => "btn font-weight-bold border-secondary btnpairing float-right" %>
</div>
<% end %>
