<h2> Become a Mentor! </h2>

<%= simple_form_for @user_tags do |f| %>
<div class="field">
  <%= f.input :topic_id, as: :select, collection: Topic.all, label: false, input_html: {multiple: true} %>
</div>

<div class="field">
  <%= f.submit 'Sign Up' %>
</div>
<% end %>
