<%= render 'form', user_tags: @user_tags %>

<h2 class="title"> Mentoring for the following topics:</h2>
<% @user_tags_list.each do |user_selection| %>

  <br><%= topic_name = Topic.find(user_selection.topic_id).topic %></br>

<% end %>
